<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="./beeGame/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        syntaxCheck="true"
>
    <testsuites>
        <testsuite name="all">
            <directory>beeGame/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">beeGame/src</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
